@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

/* Variáveis de Cor (CSS Variables) */
:root {
    --primary-green: #4C7031; /* Um verde-oliva profundo */
    --secondary-light-green: #F3F8F0; /* Um verde muito claro para fundos */
    --bs-font-sans-serif: 'Nunito', sans-serif;
    --bs-body-font-family: var(--bs-font-sans-serif);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .form-control:focus {
    box-shadow: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margem para o footer */
    font-family: var(--bs-font-sans-serif);
}

/* --- Estilo da NavBar --- */
/* Usamos a classe .bg-primary do Bootstrap e mudamos a sua cor */
.navbar-dark.bg-primary {
    background-color: var(--primary-green) !important;
}

.navbar-brand {
    font-weight: 700; /* Letra do logo a negrito */
}

/* --- Estilo de Botões --- */
/* Mudar a cor primária dos botões */
.btn-primary {
    background-color: var(--primary-green);
    border-color: var(--primary-green);
}

    .btn-primary:hover {
        background-color: #3e5a27; /* Um pouco mais escuro no hover */
        border-color: #3e5a27;
    }

/* Links */
a {
    color: var(--primary-green);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Altura do footer */
}

