*.suo
*.user
*.userosscache
*.sln.docstates
.vs/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


_ReSharper*/
*.sln.iml
.idea/


[Bb]in/
[Oo]bj/


appsettings.Development.json
*.secrets.json
secrets.json


packages/
*.nupkg
*.nuget.props
*.nuget.targets


Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride


[Tt]est[Rr]esult*/
*.trx
*.log
*.log.*


*.zip
*.rar
*.7z
