# version: '3.8'

# services:
#   db:
#     image: 'mcr.microsoft.com/mssql/server:2022-latest'
#     container_name: 'plantshop-db-dev'
#     ports:
#       - '1433:1433'
#     environment:
#       ACCEPT_EULA: 'Y'
#       SA_PASSWORD: 'DevPassword@123'
#     volumes:
#       - plantshop-db-data:/var/opt/mssql

#   adminer:
#     image: 'adminer' 
#     container_name: 'plantshop-adminer-dev'
#     ports:
#       - '8080:8080' 
#     depends_on:
#       - db     

# volumes:
#   plantshop-db-data:


version: '3.8'

services:
  plantshop-postgres-db:
    image: postgres:latest
    container_name: plantshop-db-container
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword 
      - POSTGRES_DB=plantshop_db 
    ports:
      - "5432:5432" 
    volumes:      
      - plantshop-pgdata:/var/lib/postgresql/data

  
  plantshop-pgadmin:
    image: dpage/pgadmin4:latest
    container_name: plantshop-pgadmin-container
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80" 
    depends_on:
      - plantshop-postgres-db
    volumes:      
      - plantshop-pgadmin-data:/var/lib/pgadmin

volumes:
  plantshop-pgdata:
  plantshop-pgadmin-data:    