version: '3.8'

services:
  plantshop-postgres-db:
    image: postgres:latest
    # container_name: plantshop-db-container
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=mysecretpassword 
      - POSTGRES_DB=plantshop_db 
    ports:
      - "5432:5432" 
    volumes:      
      - plantshop-pgdata:/var/lib/postgresql

  
  plantshop-pgadmin:
    image: dpage/pgadmin4:latest
    # container_name: plantshop-pgadmin-container
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@admin.com
      - PGADMIN_DEFAULT_PASSWORD=admin
    ports:
      - "5050:80" 
    depends_on:
      - plantshop-postgres-db
    volumes:      
      - plantshop-pgadmin-data:/var/lib/pgadmin

volumes:
  plantshop-pgdata:
  plantshop-pgadmin-data:    