name: CI CD para CRE CLOUD- 89104/2025 PlantShop

on:
  workflow_dispatch:

  # push:
  #   branches: [ "main" ]

  pull_request:
    branches: [ "main" ]

jobs:
  
  build-and-test:
        
    runs-on: self-hosted

    permissions:
      checks: write       # permiss칚o necess치ria para enviar summary dos testes
      actions: read       # permiss칚o por defeito, adicionada s칩 para ser explicitp
      pull-requests: read # Necess치rio se for executado num pull request

    steps:    
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Clean up previous CI run
      env: #por usar self hosted, para n칚o ter que parar os containers de dev local estou a definir ports unicos
          POSTGRES_PORT: 5434
          PGADMIN_PORT: 5051
      run: docker-compose -p plantshop_ci down --volumes #a usar --project para n칚o usar mesmo stack name que dev local
      
    - name: Start Postgres Container (CI Mode) 
      env:
          POSTGRES_PORT: 5434
          PGADMIN_PORT: 5051
      run: docker-compose -p plantshop_ci up -d
          
    
      #a dar um tempo de espera para o arranque do container
    - name: Wait for Postgres to be ready
      run: sleep 5

    - name: Restore dependencies
      run: dotnet restore PlantShop.sln
    
    - name: Build
      run: dotnet build PlantShop.sln --no-restore --configuration Release
        
    - name: Test
      env: #a passar connection string propria para n칚o usar a de appsettings que aponta para o container de dev local
        ConnectionStrings__DefaultConnection: "Host=localhost;Port=5434;Database=plantshop_ci_test_db;Username=postgres;Password=mysecretpassword"
      run: dotnet test PlantShop.sln --no-build --configuration Release --verbosity normal --logger "trx;LogFileName=test-results.trx"

    - name: Publish Test Results
      if: always() 
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: '**/*.trx' 
        retention-days: 7

      # publicar os resultads para o github
    - name: Report Test Results 
      if: always() 
      uses: dorny/test-reporter@v1
      with:
        name: 游늵 Relat칩rio de Testes (.NET)
        path: '**/*.trx'         
        reporter: dotnet-trx     
        fail-on-error: 'false'   # N칚o falha a pipeline se o relat칩rio der erro
    
    - name: Stop and Clean CI Containers # A limpar os containers da pipeline sem mexer nos de dev local
      if: always()
      env:
          POSTGRES_PORT: 5434
          PGADMIN_PORT: 5051
      run: docker-compose -p plantshop_ci down --volumes


  deploy-to-azure:
    needs: build-and-test
    runs-on: self-hosted

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
        
    # --- Login  Azure ---        
    - name: 'Az CLI Login'
      uses: azure/login@v1
      with:        
        creds: '{"clientId":"${{ secrets.AZURE_CLIENT_ID }}","clientSecret":"${{ secrets.AZURE_CLIENT_SECRET }}","tenantId":"${{ secrets.AZURE_TENANT_ID }}","subscriptionId":"${{ secrets.AZURE_SUBSCRIPTION_ID }}"}'


    - name: Restore .NET local tools
      run: dotnet tool restore

    - name: Run EF Migrations
      env:
        ConnectionStrings__DefaultConnection: ${{ secrets.AZURE_POSTGRES_CONNECTION }}
      run: dotnet ef database update --project .\src\PlantShop.Infrastructure\PlantShop.Infrastructure.csproj --startup-project .\src\PlantShop.WebUI\PlantShop.WebUI.csproj