name: CI CD para CRE CLOUD- 89104/2025 PlantShop

on:
  workflow_dispatch:

  # push:
  #   branches: [ "main" ]

jobs:
  
  build-and-test:
        
    runs-on: self-hosted

    steps:    
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Setup .NET 9
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'

    - name: Clean up previous CI run
      run: docker-compose -f docker-compose.yml -f docker-compose.ci.yml -p plantshop_ci down

      #Notas por usar self-hosted
      #a usar o segundo yml como overwite do volume para não utilizar volume que uso para desenvolvimento
    - name: Start Postgres Container (CI Mode) 
      run: docker-compose -f docker-compose.yml -f docker-compose.ci.yml -p plantshop_ci up -d 
      # a utilizar --project para dar um nome único ao grupo de containers e não fazer conflicto com local     
    
      #a dar um tempo de espera para o arranque do container
    - name: Wait for Postgres to be ready
      run: sleep 5

    - name: Restore dependencies
      run: dotnet restore PlantShop.sln
    
    - name: Build
      run: dotnet build PlantShop.sln --no-restore --configuration Release
        
    - name: Test
      env: #a utlizar connection string propria para usar ports de docker-compose override de forma a não fazer conflicto
            # com containers locais de desenvolvimento (devido a self-hosted)
        ConnectionStrings__DefaultConnection: "Host=localhost;Port=5434;Database=plantshop_ci_test_db;Username=postgres;Password=mysecretpassword"
      run: dotnet test PlantShop.sln --no-build --configuration Release --verbosity normal --logger "trx;LogFileName=test-results.trx"

    - name: Publish Test Results
      if: always() 
      uses: actions/upload-artifact@v4
      with:
        name: test-results
        path: '**/*.trx' 
        retention-days: 7
    
    - name: Stop and Clean CI Containers # A limpar os containers da pipeline sem mexer nos de dev local
      if: always()
      run: docker-compose -f docker-compose.yml -f docker-compose.ci.yml -p plantshop_ci down
